<div class="section white ">
 
  <h2  class="header center light-blue-text text-darken-4" style="font-family:Roboto;">About Page</h2>
  <hr width="70%">
  <div class="container">
    <div class="row">
      <p class="black-text text-darken-4"style="font-family: Handlee; font-size: 20px;">lEdge is an invention of Prateek Dubey, it is a one stop solution for seamless management of your money.<br/> It gives you the ability to analyse your income and expenses, what their relation is and gives you insights so that you can reduce your expenses and increase your income and investments.</p><br/>
      
      
        <div class="row">
          <div class="col s4">
            
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/ledger.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Ledger<i class="material-icons right">more_vert</i></span>
          
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Ledger<i class="material-icons right">close</i></span>
          <p>Ledger is the landing page of the account, here you can add & edit transactions and as well as update the balances.</p>
        </div>
      </div>
          </div>
          <div class="col s4">
            
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/assetmanage.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Asset Management<i class="material-icons right">more_vert</i></span>
                
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Asset Management<i class="material-icons right">close</i></span>
                <p>In this section you can add and remove your assets like metals, securities, and real estate. It shows their current values as well so that you know whether you have made profit or loss in that investment.</p>
              </div>
            </div>
                </div>
                <div class="col s4">
            
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="images/charts.jpg">
                    </div>
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">Charts<i class="material-icons right">more_vert</i></span>
                      
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Charts<i class="material-icons right">close</i></span>
                      <p>In this section you can analyse your finances graphically using the charts. Charts show the expenses, income, and investments for different categories, it also shows balances, cash flow and returns on investments.</p>
                    </div>
                  </div>
                      </div>
        </div>
      
        <div class="row">
          <div class="col s4 offset-s2">
            
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/pivot.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Pivot Tables<i class="material-icons right">more_vert</i></span>
          
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Pivot Tables<i class="material-icons right">close</i></span>
          <p>In this section you can analyse your finances for different categories and time periods.</p>
        </div>
      </div>
          </div>
          <div class="col s4">
            
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="images/stats.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Statistics<i class="material-icons right">more_vert</i></span>
                
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Statistics<i class="material-icons right">close</i></span>
                <p>In this section you can see the statistical facts of your accounts like averages, maximums, and minimums of amount and transactions for different periods</p>
              </div>
            </div>
                </div>
               
        </div>
      </div>
      </div>
  </div>