<% account.forEach(element => { %>

<h1 class="center header light-blue-text text-darken-4" style="font-family: Roboto;"><a title = "Home" class="btn-floating btn-medium waves-effect waves-light blue darken-4" href="../<%=element._id%>"><i class="material-icons">roofing</i></a><br>Work in Progress
    
</h1>

<img src = "../../images/wip.png" style="margin-left: 33%;">
<%})%>